################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SenderHistory/obj/Debug
/SenderTest
/ViewModels/obj/Debug
/WebClient/obj/Debug/WebClient.csproj.FileListAbsolute.txt
